<h1>Edit Slot</h1>
<%= render 'form', slot: @slot %>
<%= link_to "Back to ground", branch_ground_path(@branch, @ground),class: "btn btn-primary mb-3" %> <br>
<%= link_to "Slots", branch_ground_slots_path(@branch, @ground), class: "btn btn-secondary" %> <br>

