<p style="color: green"><%= notice %></p>

<% content_for :title, "Branches" %>

<h1>Branches</h1>

<div id="branches">
<ul>
  <% @branches.each do |branch| %>
    <li>
    <%= link_to branch.name ,branch%>

    </li>
  <% end %>
</ul>
</div>

<%= link_to "New branch", new_branch_path %>
