<% content_for :title, "Editing ground" %>

<h1>Editing ground</h1>

<%= render "form", ground: @ground %>

<br>

<div>
<%= link_to "Back to ground", branch_ground_path(@branch, @ground) %>
  <!-- <%= link_to "Back to grounds", grounds_path %> -->
</div>
