<% content_for :title, "Editing ground" %>

<h1>Editing ground</h1>

<%= render "form", ground: @ground %>

<br>

<div>
<%= link_to "Back to ground", branch_ground_path(@branch, @ground) ,class:"btn btn-secondary mb-4"%>
</div>
