<% content_for :title, "New ground" %>

<h1>New ground</h1>

<%= render "form", ground: @ground %>

<br>

<div>
<!-- <%= link_to "Back to Grounds", branch_grounds_path(@branch) %> -->
<!-- this is new which i learn  -->
<%= link_to "Cancel", "javascript:history.back()", class: "btn btn-secondary" %>

</div>
